#Plataformas con acceso
SetEnvIf User-Agent "Android" allow_ua
SetEnvIf User-Agent "iPhone" allow_ua
SetEnvIf User-Agent "iPad" allow_ua
SetEnvIf User-Agent "iPod" allow_ua
Order deny,allow
Deny from all
Allow from env=allow_ua

#Archivos para acceder por browser
<Files getPlaceDataMap.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files getTableBarrierData.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files getTableParkingData.php>
    Order Allow,Deny
    Allow from all
</Files>